In [1]:
#simple print
print("Hello World! I Don't Give a Bug")

Hello World! I Don't Give a Bug

In [2]:
# sample comment
# This is Python Comment
name = "Tawfek"
print(name)

Tawfek

In [39]:
# An integer assignment
age = 22
# A floating point
salary = 0.000000
# A string
name = "Tawfek"

print(age)
print(salary)
print(name)

22
0.0
Tawfek

In [40]:
x = "Hello World" # string
x = 50  # integer
x = 60.5  # float
x = 3j  # complex
x = ["geeks", "for", "geeks"]  # list
x = ("geeks", "for", "geeks")  # tuple
x = {"name": "Suraj", "age": 24} # dict
x = {"geeks", "for", "geeks"} # set
x = True  # bool
x = b"Geeks" # binary

In [5]:
#Printing Expression with Escape Sequences
print("""sum is""",7+3)
print('Display \'Hi\' in quotes') #\'
print("Display \"Hi\" in quotes") #\""
print('''Display 'Hi' and "Bye" in quotes''')

sum is 10
Display 'Hi' in quotes
Display "Hi" in quotes
Display 'Hi' and "Bye" in quotes

In [41]:
#Getting Input from the User
name = input("What's your name: ")
print(name)
value1 = input('Enter first number: ')  # I will put 19
value2 = input('Enter second number: ') # I will put 27
add = value1 + value2
print(add)    # print  1927 as it take input as character

What's your name: Tawfek
Tawfek
Enter first number: 19
Enter second number: 27
1927

In [7]:
#Multiple Input from the User
a , b = input().split()
print (a, b)
print(type(a))

9 5
9 5
<class 'str'>

In [8]:
#Objects and Dynamic Typing
print(type(7))
print(type(1.1))
print(type("cat"))

<class 'int'>
<class 'float'>
<class 'str'>

In [9]:
#Arithmetic Operators
a = 9
b = 4
add = a + b
sub = a - b
mul = a * b
div = a / b
integer_division = a//b
mod = a % b
exponential = a ** b
print(add)
print(sub)
print(mul)
print(div)
print(integer_division)
print(mod)
print(exponential)

13
5
36
2.25
2
1
6561

In [10]:
# logical operators
a = True
b = False
print(a and b) # print False
print(a or b)  # print True
print(not a)   # print False as a is True

False
True
False

In [11]:
#Bitwise Operators
a = 10
b = 4
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

In [12]:
#Assignment Operators
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

In [13]:
#Python IF-Else
i = 20
if (i < 15):
    print("i is smaller than 15")
    print("i'm in if Block")
else:
    print("i is greater than 15")
    print("i'm in else Block")
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [14]:
#Python if-elif-else ladder
grade = 77
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

In [15]:
#Python For Loop
for i in range(0, 10, 2):
    print(i)

#Python While Loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello Tawfek")

0
2
4
6
8
Hello Tawfek
Hello Tawfek
Hello Tawfek

In [21]:
#While Statement
product = 3
while product <= 50 :
    product*=3
print(product)

#For Statements
for character in 'Programming':
    print(character, end='  ')
print()
#Iterables , Lists and Iterators
total = 0
for number in [2, -3, 0, 17, 9]:
    total += number
print(total)

#Built-In range Function
total=0
for number in range(10):
    total += number
print(total)

#Built-In Function range: A Deeper Look
for number in range(5, 10):
    print(number , end=' ')
for number in range(0, 10, 2):
    print(number,end=' ')
for number in range(10, 0, -2):
    print(number,end=' ')
print()
total=0
for number in range(2, 101, 2):
    total += number
print(total)

81
P  r  o  g  r  a  m  m  i  n  g
25
45
5 6 7 8 9 0 2 4 6 8 10 8 6 4 2
2550

In [23]:
#Augmented Assignments
total=0
for number in [1, 2, 3, 4, 5]:
    total = total + number
print(total)

15

In [24]:
#Break and continue Statements
for number in range(15):
    if number == 10:
        break
    print(number,end=' ')
for number in range(10):
    if number == 5:
        continue
    print(number,end=' ')

0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 6 7 8 9

In [25]:
#Sequence-Controlled Repetition
total = 0 # sum of grades
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94] # list of 10 grades
for grade in grades:
    total += grade # add current grade to the running total
    grade_counter += 1 # indicate that one more grade was
average = total / grade_counter
print(f'Class average is {average:.2f}')

Class average is 81.70

In [27]:
#Formatted Strings
name = 'Tawfek'
age = 22
print(f'Hello, my name is {name} and I am {age} years old')

Hello, my name is Tawfek and I am 22 years old

In [36]:
#Implementing Sentinel-Controlled Iteration
"""Class average program with sentinel-controlled iteration."""
total = 0
grade_counter = 0  # number of grades entered
grade=99
while grade != -1:
    grade = int(input('Enter grade, -1 to end: '))  # get one grade
    total += grade
    grade_counter += 1
if grade_counter != 0:
    average = total / (grade_counter - 1)
    print(f'Class average is {average:.2f}')
else:
    print('No grades were entered')

Enter grade, -1 to end: 90
Enter grade, -1 to end: 80
Enter grade, -1 to end: 90
Enter grade, -1 to end: -1
Class average is 86.33

In [37]:
#Implementing the Algorithm using Nested Control Statements
"""Using nested control statements to analyze examination results."""
passes = 0  # number of passes
failures = 0  # number of failures
for student in range(10):
    result = int(input('Enter result (1=pass, 2=fail): '))
    if result == 1:
        passes += 1
    else:
        failures += 1
print('Passed:', passes)
print('Failed:', failures)
if passes > 8:
    print('Bonus to instructor')

Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 2
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 2
Enter result (1=pass, 2=fail): 1
Enter result (1=pass, 2=fail): 2
Enter result (1=pass, 2=fail): 1
Passed: 7
Failed: 3

In [38]:
#Python Functions
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
# Driver code to call the function
evenOdd(2)
evenOdd(3)

even
odd